body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#f2f4f8; color:#555; font-size:14px; font-family:camptonlight,Arial,Verdana,"微软雅黑", Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555;cursor:pointer;text-decoration:none;}
a:hover {}
img { border:none;overflow:hidden;}
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px camptonlight,Arial,Verdana,"微软雅黑", Helvetica, sans-serif; }
table { border-collapse:collapse; }    
html {overflow-y:hidden;}
::-webkit-scrollbar{width:2px;height:10px;}
::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0);border-radius: 0px;background: rgba(0,0,0,0);}
::-webkit-scrollbar-thumb{border-radius: 5px;-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0);background: rgba(0,0,0,0);}
::-webkit-scrollbar-thumb:hover{border-radius: 5px;background: rgba(0,0,0,0.3);width:10px;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix{ *zoom:1;}
.f-left{float:left;}
.f-right{float:right;}
body{height:100%;overflow:auto;}   
html{height:100%;overflow:hidden;}
#box{position:absolute;top:0;left:0;width:100%;height:100%;}

.head-bar{height:80px;font-size: 40px;background: #fff;}
.head-bar a{display:block;}
.head-bar .logo{padding-left:30px;height:79px;padding-right:49px;float:left;}
.head-bar .logo img{padding-top:15px;display:block;}
.head-bar .m-logo{display:none;}
.head-bar .m-logo img{height:40px;padding-top:5px;display:block;}

.head-bar .personaloperate{float:right;height:79px;}
.operateicon{width:58px;display:inline-block;height:79px;text-align:center;cursor:pointer;vertical-align:top;float:left;}
.operateicon:hover{background:#f7f8fb;}
.operateicon span{position:relative;}
.operateicon span.text{display:none;padding:28px 0;}
.operateicon span.icon{display:inline-block;width:30px;height:30px;background:url(../images/useropicon.png) no-repeat;margin:24px 0;-webkit-transition-duration:200ms;transition-duration:200ms;}
.operateicon1 span.icon{background-position:7px 6px}
.operateicon1 span i{display:inline-block;background:url(../images/red-dot.png) no-repeat center;right:1px;top:4px;position:absolute;width:9px;height:9px;}
.operateicon2 span.icon{background-position:-51px 6px}
.operateicon3 span.icon{background-position:-109px 6px}
.operateicon4 span.icon{background-position:-168px 6px}

.operateicon5 span.icon{background:url(../images/voice-max.png) no-repeat 3px 2px;}
.operateicon5 span.icon:hover{background-position:-30px 2px;}
.operateicon5 span.icon.on{background:url(../images/voice-min.png) no-repeat 3px 2px;}
.operateicon5 span.icon.on:hover{background-position:-29px 2px;}

.operateicon1:hover span.icon{background-position:-23px 6px}
.operateicon2:hover span.icon{background-position:-80px 6px}
.operateicon3:hover span.icon{background-position:-138px 6px}
.operateicon4:hover span.icon{background-position:-198px 6px}

.operatelsit{position:absolute;bottom:0;width:60px;right:12px;text-align:center;background:#2b303b;height:40px;}
.mark .operatelsit{right:0;}
.operatelsit span{background:url(../images/opcdds.png) no-repeat;display:inline-block;cursor:pointer;height:40px;width:40px;}
.operatelsit span.off{background-position:13px;-webkit-transition-duration:200ms;transition-duration:200ms;}
.operatelsit span.on{background-position:-72px;-webkit-transition-duration:200ms;transition-duration:200ms;}
.operatelsit span.off:hover{background-position:-31px;}
.operatelsit span.on:hover{background-position:-113px;}

.body-box{position:absolute;top:80px;width: 100%;left:0; bottom: 0;}
.left-bar{width:250px;height:100%;left:0;position:absolute;background:#2b303b;color: #fff;overflow:auto;}
.left-bar a{color:#bfcbd9;display:block;}
.left-bar a:hover{color:#fff;}
.left-bar .fulink a{padding-left:20px;}
.left-bar .fulink span{display:inline-block;vertical-align:top;}
.left-bar .fulink span.text{padding-left:10px;}
.left-bar span.icon{width:20px;height:50px;background:url(../images/icons.png) no-repeat;display:inline-block;vertical-align:top;margin-left:5px;margin-right:8px;}
.left-bar span.icon23{background-position:0px 14px;}
.left-bar span.icon24{background-position:0px -36px;}
.left-bar span.icon25{background-position:0px -86px;}
.left-bar span.icon26{background-position:0px -136px;}
.left-bar span.icon27{background-position:0px -186px;}
.left-bar span.icon28{background-position:0px -236px;}
.left-bar span.icon29{background-position:0px -286px;}
.left-bar span.icon30{background-position:0px -336px;}
.left-bar span.icon31{background-position:0px -386px;}

.left-bar .el-menu-item, .el-submenu__title{height:50px;line-height:50px;-webkit-transition-duration:200ms;transition-duration:200ms;}
.left-bar .el-menu-item.is-active span.icon23{background-position:-40px 14px;}
.left-bar .el-menu-item.is-active span.icon24{background-position:-40px -36px;}
.left-bar .el-menu-item.is-active span.icon25{background-position:-40px -86px;}
.left-bar .el-menu-item.is-active span.icon26{background-position:-40px -136px;}
.left-bar .el-menu-item.is-active span.icon27{background-position:-40px -186px;}
.left-bar .el-menu-item.is-active span.icon28{background-position:-40px -236px;}
.left-bar .el-menu-item.is-active span.icon29{background-position:-40px -286px;}
.left-bar .el-menu-item.is-active span.icon30{background-position:-40px -336px;}
.left-bar .el-menu-item.is-active span.icon31{background-position:-40px -386px;}
.left-bar .el-menu--dark{background:none;}
.left-bar .el-menu--dark .el-submenu .el-menu{background:#21252d;}
.left-bar .el-menu .el-menu-item.fccc.is-active{background:#FF5F4E;color:#fff;}

/*.el-menu--dark .el-menu-item:hover, 
.el-menu--dark .el-submenu__title:hover{background:#353a46;color:#fff;}*/

.left-bar .el-menu .el-menu-item.zccc{
	background:url(../images/zicaidanfuhao.png) no-repeat 20px -16px;
	line-height:50px;
	height:50px;
	-webkit-transition-duration:200ms;
	transition-duration:200ms;
}
.left-bar .el-menu .el-menu-item.zccc.is-active,
.left-bar .el-menu .el-menu-item.zccc:hover{color:#fff;background-position:20px 24px;background-color:transparent; }

.right-content{margin-left:250px;height:100%;box-sizing:border-box;background:#f2f4f8;overflow:auto;border-top:1px solid #eaeef1;}

.breadcrumb{margin-bottom:10px;margin-top:-10px;}
.breadcrumb_item a{transition: color .15s linear;color: #48576a;}
.breadcrumb_separator{margin:0 8px;color:#bfcbd9;}
.breadcrumb_item:last-child a{color: #97a8be;cursor: text;}
.breadcrumb_item:last-child .breadcrumb_separator{display:none;}

.top-nav-tabs{background:#fff;font-size:20px;box-shadow:0px 0 15px rgba(0,0,0,0.08);}
.top-nav-tabs li{width:16.666666666%;float:left;}
.top-nav-tabs li a:hover{background:#f9fafc;}
.top-nav-tabs li a{color:#6f738c;display:block;text-align:center;border:1px solid #eaeef1;height:80px;line-height:80px;margin-right:-1px;margin-bottom:-1px;}
.top-nav-tabs li a.router-link-active{background:#FF5F4E;color:#fff;border-color:#FF5F4E;z-index:10;position:relative;}

.top-nav-tabs li a span{display:inline-block;}
.top-nav-tabs .icon{background:no-repeat left center;padding-left:40px;}
.top-nav-tabs .icon1{background-image:url(../images/tab-nav/a-1-1.png);}
.top-nav-tabs .icon2{background-image:url(../images/tab-nav/a-2-1.png);}
.top-nav-tabs .icon3{background-image:url(../images/tab-nav/a-3-1.png);}
.top-nav-tabs .icon4{background-image:url(../images/tab-nav/a-4-1.png);}
.top-nav-tabs .icon5{background-image:url(../images/tab-nav/a-5-1.png);}
.top-nav-tabs .icon6{background-image:url(../images/tab-nav/a-6-1.png);}
.top-nav-tabs .icon7{background-image:url(../images/tab-nav/a-7-1.png);}
.top-nav-tabs .icon8{background-image:url(../images/tab-nav/a-8-1.png);}
.top-nav-tabs .icon9{background-image:url(../images/tab-nav/a-9-1.png);}
.top-nav-tabs .icon10{background-image:url(../images/tab-nav/a-10-1.png);}
.top-nav-tabs .icon11{background-image:url(../images/tab-nav/a-11-1.png);}

.top-nav-tabs a.router-link-active .icon1{background-image:url(../images/tab-nav/a-1-2.png);}
.top-nav-tabs a.router-link-active .icon2{background-image:url(../images/tab-nav/a-2-2.png);}
.top-nav-tabs a.router-link-active .icon3{background-image:url(../images/tab-nav/a-3-2.png);}
.top-nav-tabs a.router-link-active .icon4{background-image:url(../images/tab-nav/a-4-2.png);}
.top-nav-tabs a.router-link-active .icon5{background-image:url(../images/tab-nav/a-5-2.png);}
.top-nav-tabs a.router-link-active .icon6{background-image:url(../images/tab-nav/a-6-2.png);}
.top-nav-tabs a.router-link-active .icon7{background-image:url(../images/tab-nav/a-7-2.png);}
.top-nav-tabs a.router-link-active .icon8{background-image:url(../images/tab-nav/a-8-2.png);}
.top-nav-tabs a.router-link-active .icon9{background-image:url(../images/tab-nav/a-9-2.png);}
.top-nav-tabs a.router-link-active .icon10{background-image:url(../images/tab-nav/a-10-2.png);}
.top-nav-tabs a.router-link-active .icon11{background-image:url(../images/tab-nav/a-11-2.png);}

.slide-fade-enter-active {transition: all .3s ease;}
.slide-fade-enter{transform: translateX(10px);opacity: 0;}
.fade-enter-active{transition: opacity .5s}
.fade-enter{opacity: 0}

.no-mode-translate-fade-enter-active, 
.no-mode-translate-fade-leave-active {
  transition: all 300ms;
}
.no-mode-translate-fade-enter, 
.no-mode-translate-fade-leave-active {
	position: absolute;
  	opacity: 0;
  	width: 100%;
}
.no-mode-translate-fade-enter {
  transform: translateX(31px);
}
.no-mode-translate-fade-leave-active {
  transform: translateX(-31px);
}
.user-info{margin:20px 30px;height:50px;overflow:hidden;}
.user-info img{display:block;}
.user-info-test{margin-left:10px;}
.user-info-test h4{color:#b0b3c8;font-size:14px;margin-top:5px;height:22px;line-height:22px;display:inline-block;}
.user-info-test i{display:inline-block;width:22px;height:22px;vertical-align:bottom;}
.user-info-test i.ds1{background:url(../images/dengji-co.png) no-repeat center;}
.user-info-test p{color:#8386a0;font-size:12px;}

.rightbarcontent{width:240px;bottom:0;top:1px;right:0;position:absolute; background:#fff;border-left:1px solid #eaeef1;overflow:auto;}
.rightbarcontent .rightbox h5{font-size:14px;}
.rightbarcontent .rightbox1{padding:30px;border-bottom:1px solid #eaeef1;}
.rightbarcontent .rightbox4{padding:30px;border-bottom:1px solid #eaeef1;}
.rightbarcontent .rightbox4 a{display:block;text-align:left;}
.rightbarcontent .rightbox4 a img{display:inline-block;overflow:hidden;outline:none;border:none;}
.rightbarcontent .rightbox1 p.telnumber{font-size:20px;color:#FF5F4E;margin-top:5px;}
.rightbarcontent .rightbox1 a.qqservice{display:block;font-size:14px;background:url(../images/qqserver.png) no-repeat left center;padding-left:40px;line-height:32px;margin-top:20px;}
.rightbarcontent .rightbox1 p.servertime{margin-top:5px;font-family: "微软雅黑";font-size:12px;}
.rightbarcontent .rightbox2{padding:30px;padding-bottom:0;}
.rightbarcontent .rightbox3{padding:0 20px;}
.rightbarcontent .rightbox3 .toolitem{display:inline-block;width:66px;float:left;text-align:center;font-size:12px;color:#a8a8a8;margin-top:34px;}
.rightbarcontent .rightbox3 .toolitem span{display:inline-block;}
.rightbarcontent .rightbox3 .toolitem .icon{width:32px;height:32px;background:url(../images/icons.png) no-repeat;-webkit-transition-duration:200ms;transition-duration:200ms;}
.rightbarcontent .rightbox3 .toolitem1 .icon{background-position:-82px 0;}
.rightbarcontent .rightbox3 .toolitem2 .icon{background-position:-181px 0;}
.rightbarcontent .rightbox3 .toolitem3 .icon{background-position:-278px 0;}
.rightbarcontent .rightbox3 .toolitem4 .icon{background-position:-82px -80px;}
.rightbarcontent .rightbox3 .toolitem5 .icon{background-position:-181px -80px;}
.rightbarcontent .rightbox3 .toolitem6 .icon{background-position:-278px -80px;}
.rightbarcontent .rightbox3 .toolitem7 .icon{background-position:-82px -162px;}
.rightbarcontent .rightbox3 .toolitem8 .icon{background-position:-181px -162px;}
.rightbarcontent .rightbox3 .toolitem9 .icon{background-position:-278px -162px;}
.rightbarcontent .rightbox3 .toolitem10 .icon{background-position:-82px -245px;}

.rightbarcontent .rightbox3 .toolitem:hover{color:#555555;}
.rightbarcontent .rightbox3 .toolitem1:hover .icon{background-position:-131px 0;}
.rightbarcontent .rightbox3 .toolitem2:hover .icon{background-position:-227px 0;}
.rightbarcontent .rightbox3 .toolitem3:hover .icon{background-position:-330px 0;}
.rightbarcontent .rightbox3 .toolitem4:hover .icon{background-position:-131px -80px;}
.rightbarcontent .rightbox3 .toolitem5:hover .icon{background-position:-227px -80px;}
.rightbarcontent .rightbox3 .toolitem6:hover .icon{background-position:-330px -80px;}
.rightbarcontent .rightbox3 .toolitem7:hover .icon{background-position:-131px -162px;}
.rightbarcontent .rightbox3 .toolitem8:hover .icon{background-position:-227px -162px;}
.rightbarcontent .rightbox3 .toolitem9:hover .icon{background-position:-330px -162px;}
.rightbarcontent .rightbox3 .toolitem10:hover .icon{background-position:-131px -245px;}

.rechange-panner{background:#fff;margin-top:20px;box-shadow:0px 0 15px rgba(0,0,0,0.08);}
.rechange-panner .panner-head{background:#f9fafc;height:50px;position:relative;}
.rechange-panner .panner-head a.lps{font-size:16px;line-height:50px;display:inline-block;*display:inline;width:197px;text-align:center;}
.rechange-panner .panner-head a.lps.on{background:#fff;border-top:2px solid #ff5f4e;}
.rechange-panner .panner-head span.near-order-link{display:inline-block;height:50px;margin-right:20px;line-height:50px;cursor:pointer;}
.rechange-panner .panner-head span.iconq{background:no-repeat right center url(../images/clipboard.png);padding-right:22px;}
.rechange-panner .panner-body{padding:40px 20px 80px 0;position:relative;}
.rechange-panner .lines{position:relative;display: table-row;width: 100%;}
.rechange-panner .lines .p-left-title{width:130px;white-space: nowrap;display: table-cell;text-align:left;padding-left:67px;padding-bottom:20px;}
.rechange-panner .lines .p-right-box{display:table-cell;padding-bottom:30px;}
.rechange-panner .lines .p-right-box span.showiconnian{line-height:38px;vertical-align:top;padding-left:20px;background:url(../images/year.png) no-repeat left center;}

.rechange-panner .lines .miane-list{margin-top:-16px;}
.rechange-panner .lines .miane-list a{float:left;height:38px;border:1px solid #d8dde5;line-height:38px;width:88px;display:inline-block;text-align:center;margin:16px 16px 0 0;font-size:20px;color:#595959;border-radius:3px;}
.rechange-panner .lines .miane-list a.othermiane{width:128px;font-size:16px;vertical-align:top;position:relative;background:url(../images/xiaojiantou-iii.png) no-repeat center right;}
.rechange-panner .lines .miane-list a.othermiane span{padding-left:0;display:block;line-height:38px;}
.rechange-panner .lines .miane-list a.on{border:2px solid #FF5F4E;background:right bottom no-repeat;background-image:url(../images/on.png);line-height:36px;height:36px;width:86px;}
.rechange-panner .lines .miane-list a.on.othermiane{width:126px;height:36px;}
.rechange-panner .lines .miane-list a.on.othermiane span{line-height:36px;}
.rechange-panner .lines .miane-list a.other{font-size:14px;vertical-align:top;}

.order-statistics-box{margin-left:-10px;margin-right:-10px;}
.order-statistics-head{background:#fff;padding:28px 30px 27px;box-shadow:0px 0 15px rgba(0,0,0,0.08);}
.order-statistics-head input{border:none;outline:none;vertical-align:top;line-height:32px;box-sizing:border-box;}
.order-statistics-head .el-input{border:1px solid #ddd;vertical-align:top;border-radius:5px;margin-right:7px;}
.order-statistics-head .el-button{padding:10px 27px 11px;}

.order-statistics-body{margin-top:10px;}
.order-statistics-body li{float:left;width:20%;}
.order-statistics-body li .order-statistics-item{box-shadow:0px 0 15px rgba(0,0,0,0.08);height:110px;cursor:pointer;display:block;background:#fff;padding:30px;margin:10px;-webkit-transition-duration:300ms;transition-duration:300ms;}
.order-statistics-body li .item-top{border-bottom:1px solid #eaeef1;padding-bottom:25px;}
.order-statistics-body li .item-top h3{font-size:24px;color:#595959;line-height:24px;}
.order-statistics-body li .item-top p{color:#999;margin-top:10px;}

.statistic-content{padding:10px;}
.statistic-content .link-break{margin:10px 10px 0;}
.order-statistics-body li:hover .order-statistics-item{background-color:#FF5F4E;border-color:#FF5F4E;}
.order-statistics-body li:hover .item-top{border-bottom:1px solid #fff;}
.order-statistics-body li:hover .item-top h3{font-size:24px;color:#fff;background:url(../images/right-icon.png) no-repeat right center;}
.order-statistics-body li:hover .item-top p{color:#ffafa7;}
.order-statistics-body li:hover p .txtcolorred{color:#fff;}
.order-statistics-body li:hover p{color:#fff;}
.order-statistics-body .m-t-15{margin-top:15px;}
.order-statistics-item .item-top{padding-left:65px;}
.order-statistics-item.txdd .item-top{background:url(../images/order/red1.png) no-repeat top left;}
.order-statistics-item.wlcz .item-top{background:url(../images/order/red2.png) no-repeat top left;}
.order-statistics-item.shfw .item-top{background:url(../images/order/red3.png) no-repeat top left;}
.order-statistics-item.czka .item-top{background:url(../images/order/red4.png) no-repeat top left;}
.order-statistics-item.xyka .item-top{background:url(../images/order/red5.png) no-repeat top left;}
.order-statistics-item.ywbl .item-top{background:url(../images/order/red7.png) no-repeat top left;}
.order-statistics-item.slfw .item-top{background:url(../images/order/red8.png) no-repeat top left;}

.order-statistics-body li:hover .txdd .item-top{background:url(../images/order/red1-1.png) no-repeat top left;}
.order-statistics-body li:hover .wlcz .item-top{background:url(../images/order/red2-1.png) no-repeat top left;}
.order-statistics-body li:hover .shfw .item-top{background:url(../images/order/red3-1.png) no-repeat top left;}
.order-statistics-body li:hover .czka .item-top{background:url(../images/order/red4-1.png) no-repeat top left;}
.order-statistics-body li:hover .xyka .item-top{background:url(../images/order/red5-1.png) no-repeat top left;}
.order-statistics-body li:hover .ywbl .item-top{background:url(../images/order/red7-1.png) no-repeat top left;}
.order-statistics-body li:hover .slfw .item-top{background:url(../images/order/red8-1.png) no-repeat top left;}

.cw-manange-box{background:#fff;padding:60px;box-shadow:0px 0 15px rgba(0,0,0,0.08);}
.cw-manange-box .cw-title{font-size:14px;}
.cw-manange-box .cw-number{margin-top:10px;}
.cw-manange-box .cw-number .jine{font-size:20px;margin-right:10px;}
.cw-manange-box .cw-number .jine:after{font-size:14px;content:'元';margin-left:5px;}
.cw-manange-box .el-row.p-t{padding-top:35px;}
.cw-manange-box .el-row.b-t{border-top:1px solid #eaeef1;}
.cw-manange-box .el-row.p-b{padding-bottom:35px;}
.cw-manange-box .grid-content-yue .cw-number .jine{font-size:37px;color:#FF5F4E;vertical-align:bottom;line-height:37px;height:37px;display:inline-block;}
.cw-manange-box .grid-content-yue .cw-number buttom{vertical-align:bottom;}
.cw-manange-box .bg-purple-one{border-right:1px solid #eaeef1;padding-bottom:35px;}
.cw-manange-box .bg-purple-two{padding-bottom:35px;padding-left:60px;}
.cw-manange-box .bg-purple-three{border-right:1px solid #eaeef1;padding-top:35px;}
.cw-manange-box .bg-purple-four{padding-top:35px;padding-left:60px;}
.cw-manange-box .cw-account-card{padding-left:60px;}
.cw-manange-box .cw-account-card .el-row{border-left:1px solid #eaeef1;}
.cw-manange-box .cw-account-card .grid-content{padding-bottom:30px;padding-left:60px;height:40px;padding-top:30px;}
.cw-manange-box .cw-account-card .p-text{padding-top:10px;}

.w1200{width:1200px;margin:auto;}
.loginpage{overflow:auto;height:100%;background:#fff;}
.loginpage .left{float:left;}
.loginpage .right{float:right;}
.loginpage .header{height:130px;}
.loginpage .header .logo{background:url(../images/img-logo.jpg) no-repeat;height:83px;width:442px;margin-top:20px;}
.loginpage .header .links{font-size:16px;color:#40444a;margin-top:52px;margin-right:-25px;}
.loginpage .header .links li{float:left;margin:0 25px;}
.loginpage .header .links li.c{padding:0 30px;}
.loginpage .header .links li a span{color:#b0b1b4;}
.loginpage .header .links{color:#40444a;margin-top:50px;}
.loginpage .header .links li{float:left;}
.loginpage .header .links li.c{padding:0 30px;}
.loginpage .header .links li a{font-size:18px;}
.loginpage .header .links li a span{color:#b0b1b4;}
.loginpage .banner{height:480px;position:relative;overflow:hidden;}
.loginpage .banner .bannerslide{position:absolute;width:100%;height:480px;}
.loginpage .banner .weizhi{left:50%;margin-left:600px;height:480px;position:absolute;}
.loginpage .banner .loginbox{width:280px;padding:30px;position:absolute;right:0;top:50px;background:rgba(255,255,255,0.9);height:310px;}
.loginpage .banner .loginbox h4{color:#33363c;font-size:18px;font-weight:bolder;padding-bottom:10px;}
.loginpage .banner .loginbox .input input{outline:none;display:block;width:100%;outline:none;height:40px;transition-duration:500ms;box-sizing:border-box;background:no-repeat #fff;border:1px solid #eaeef1;text-indent:43px;}
.loginpage .banner .loginbox .input input:focus{border:1px solid #ff5f4e;box-shadow:0 0 15px rgba(0,0,0,0.15);}
.loginpage .banner .loginbox .input .dinput{display:block;height:40px;width:100%;margin-bottom:10px;}
.loginpage .banner .loginbox .input .dinput.as1 input{background-image:url(../images/icon-ad-1.png);background-position:16px 10px;}
.loginpage .banner .loginbox .input .dinput.as2 input{background-image:url(../images/icon-ad-2.png);background-position:18px 10px;}
.loginpage .banner .loginbox .input .jianyan .dinput.as3{width:120px;display:inline-block;margin:0;vertical-align: top;}
.loginpage .banner .loginbox .input .jianyan .dinput.as3 input{padding:0 10px;text-indent:0;width:120px;}
.loginpage .banner .loginbox .input .jianyan .checkcode{vertical-align:top;margin-left:10px;display:inline-block;}
.loginpage .banner .loginbox .input .jianyan .checkcode img{display:block;overflow:hidden;height:39px;}
.loginpage .banner .loginbox .option{padding-top:18px;height:20px;padding-bottom:8px;}
.loginpage .banner .loginbox .option a.letf{color:#666;line-height:14px;vertical-align: top;display:inline;float:left;}
.loginpage .banner .loginbox .option label{vertical-align: top;}
.loginpage .banner .loginbox .option label input{vertical-align:middle;background:#fff;height:14px;margin-right:5px;width:20px;float:left;}
.loginpage .banner .loginbox .lgbtn{padding-top:10px;}
.loginpage .banner .loginbox .lgbtn a{color:#fff;background:#ff5f4e;display:block;text-align:center;border-radius:5px;height:40px;line-height:40px;}
.loginpage .banner .loginbox p{font-size:12px;}
.loginpage .banner .loginbox p .red{color:#ff5f4e;cursor:pointer;}
.loginpage .banner .loginbox .weating{text-align:center;margin-top:126px;}
.loginpage .banner .loginbox .weating img{width:50px;}
.loginpage .banner .loginbox .lg_toast{position:absolute;background:#000;border-radius:5px;z-index:100;color:#fff;width:200px;text-align:center;padding:10px 0 14px;border-radius:8px;font-size:16px;left:50%;top:40%;margin-left:-100px;}
.loginpage .xiaoNo{background:#f1f2f8;height:80px;}
.loginpage .xiaoNo .w1200 div{padding-left:45px;background:no-repeat;background-position:1px 10px;width:350px;display:inline-block;float:left;margin-top:14px;}
.loginpage .xiaoNo .w1200 div p{font-size:14px;color:#797c95;padding:2px 0 1px;}
.loginpage .xiaoNo .w1200 div p span{font-size:24px;font-weight:bolder;padding-right:5px;}
.loginpage .xiaoNo div.panno1{background-image:url(../images/icon-nu-1.png)}
.loginpage .xiaoNo div.panno2{background-image:url(../images/icon-nu-2.png)}
.loginpage .xiaoNo div.panno3{background-image:url(../images/icon-nu-3.png)}
.loginpage .footer .fthd{padding:45px 0;border-top:1px solid #ebebeb;margin-top:55px}
.loginpage .footer .fthd ul li{width:25%;float:left}
.loginpage .footer .fthd ul li div{width:130px;margin:auto}
.loginpage .footer .fthd ul li div h4{padding:98px 0 20px;text-align:center;font-size:18px;border-bottom:1px solid #e7e7e7;background:no-repeat top center}
.loginpage .footer .fthd ul li div .dt1{background-image:url(../images/icon-bas1.png)}
.loginpage .footer .fthd ul li div .dt2{background-image:url(../images/icon-bas2.png)}
.loginpage .footer .fthd ul li div .dt3{background-image:url(../images/icon-bas3.png)}
.loginpage .footer .fthd ul li div .dt4{background-image:url(../images/icon-bas4.png)}
.loginpage .footer .fthd ul li div p{text-align:center;line-height:30px;font-size:14px;padding-top:20px}
.loginpage .footer .ftbm{border-top:1px solid #ebebeb;padding:5px}
.loginpage .footer .ftbm p{text-align:center;padding:15px 0}
.loginpage .footer .ftbm p.ds{font-size:14px;color:#5c5c5c}
.loginpage .footer .ftbm p.dc{color:#8d8d8d}
.loginpage .footer .ftbm p .xiaoshuxian{color:#eee;padding:0 12px}
.loginpage .footer .s-dac{padding:50px 0;}
.loginpage .footer .s-dac h4{font-size:18px;color:#5c5c5c;line-height:40px;padding-bottom:10px;}
.loginpage .footer .s-dac p {font-size:14px;color:#9a9a9a;line-height:22px;}
.loginpage .footer .l-links{display: inline-block;vertical-align: top;zoom: 1;*display: inline;padding-right:90px;text-align:center;}
.loginpage .footer .r-company-info{display: inline-block;vertical-align: top;zoom: 1;*display: inline;}
.loginpage .footer .r-company-info .tell-no{color:#FF5F4E;font-size:27px;padding-bottom:10px;background:url(../images/icon-red-phone.png) no-repeat;padding-left:35px;padding-top:2px;background-size: 25px;}
.loginpage .footer .qq-server{margin-top:5px;}
.loginpage .footer .qq-server a{display: inline-block;vertical-align: top;zoom: 1;*display: inline;width:24px;height:24px;margin-right:5px;}
.loginpage .footer .qq-server .kefu1{background-image:url(../images/icon-qq1.png);}
.loginpage .footer .qq-server .kefu2{background-image:url(../images/icon-qq2.png);}
.loginpage .footer .qq-server .kefu3{background-image:url(../images/icon-qq3.png);}

.loginpage .footer .us-server{padding:30px 0;height:80px;border-top:1px solid #FF5F4E;margin-top:-1px;}
.loginpage .footer .us-server .vcs{margin-right:25px;}
.loginpage .footer .us-server span{display:block;float:left;font-size:14px;padding-top:65px;background:top center no-repeat;min-width:60px;margin-right:14px;text-align:center;}
.loginpage .footer .us-server .icon-1{background-image:url(../images/icon-tou1.png);}
.loginpage .footer .us-server .icon-2{background-image:url(../images/icon-tou2.png);}
.loginpage .footer .us-server .icon-3{background-image:url(../images/icon-tou3.png);}
.loginpage .footer .us-server .icon-4{background-image:url(../images/icon-tou4.png);}
.loginpage .footer .us-server .icon-5{background-image:url(../images/icon-tou5.png);}
.loginpage .footer .us-server .icon-6{background-image:url(../images/icon-tou6.png);}
.loginpage .footer .us-server .icon-7{background-image:url(../images/icon-tou7.png);}
.loginpage .footer .us-server .icon-8{background-image:url(../images/icon-tou8.png);}
.loginpage .footer .us-server .icon-9{background-image:url(../images/icon-tou9.png);}
.loginpage .footer .us-server .icon-10{background-image:url(../images/icon-tou10.png);}
.loginpage .footer .us-server .icon-11{background-image:url(../images/icon-tou11.png);margin-right:26px}
.loginpage .footer .us-server .icon-12{background-image:url(../images/icon-tou12.png);margin-right:26px}
.loginpage .footer .us-server .icon-13{background-image:url(../images/icon-tou13.png);margin-right:26px}
.loginpage .footer .us-server .icon-14{background-image:url(../images/icon-tou14.png);float:right;}

.accont-mt20{margin-top:20px;}

.tc-15-btn.weak {
    background: #fcfcfc;
    border-color: #d1d2d3;
    color: #2277da;
}
.tc-15-btn.m {
    height: 25px;
    min-width: 21px;
    padding: 0 15px;
    font-size: 12px;
    line-height:24px;
    margin-left: 10px;
}
.tc-15-btn {
    height: 33px;
    min-width: 24px;
    padding: 0 20px;
    border: 1px solid #0064b6;
    border-radius: 2px;
    background: #2277da;
    color: #fff;
    font-size: 14px;
    line-height: 33px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    outline: 0;
}
.account-box{
	padding-left: 50px;
	padding-top: 50px;
}
.account-box .title {
    font-size: 20px;
    color: rgb(69, 74, 81);
    padding: 0px 0px 25px;
}
.account-box .approve-dl {
    position: relative;
    display: table-row;
    width: 100%;
}
.account-box .approve-dl > dt {
    width: 90px;
    display: table-cell;
    white-space: nowrap;
    color: rgb(115, 119, 123);
    display: table-cell;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 20px;
}
.account-box .approve-dl dd {
    display: table-cell;
    padding-bottom: 20px;
}
.c-center-warp{padding:20px;}
.account-box .approve-dl dd .info-text:first-child {
    line-height: inherit;
    margin-top: 0px;
    margin-bottom: 8px;
}
@media screen and (min-width:1500px) and (max-width:1800px) {
    .order-statistics-body li{width:25%;}
}
@media screen and (min-width:1200px) and (max-width:1500px) {
	.head-bar{height:60px;}
	.head-bar .logo{height:60px;padding-left:10px;}
	.head-bar .logo img{padding-top:3px}
	.head-bar .operateicon span.icon{margin:15px 0;}
	.body-box{top:60px;}
	.left-bar{width:230px;}
	.top-nav-tabs{font-size:15px;}
	.top-nav-tabs li{width:16.666666666%;float:left;}
	.top-nav-tabs li a{height:50px;line-height:50px;}
	.top-nav-tabs .icon{padding-left:25px;background-size:23px;}
	.right-content{margin-left:230px;}
    .order-statistics-body li{width:25%;}
    .order-statistics-body li .order-statistics-item{padding:20px;font-size:12px;}
    .order-statistics-body li .item-top{padding-bottom:20px;}
}
@media screen and (min-width:900px) and (max-width:1200px) {
	.loginpage{height:100%;}
	.loginpage .w1200{width:100%;}
	.loginpage .header{display:none;}
	.loginpage .bannerslide{display:none;}
	.loginpage .banner{height:100%;}
	.loginpage .banner .weizhi{position:relative;margin:0;left:0;height:100%;}
	.loginpage .banner .loginbox{padding:0;left:50%;right:auto;margin-left:-140px;}
	.loginpage .xiaoNo{display:none;}
	.loginpage .footer{display:none;}
	.head-bar{height:60px;}
	.head-bar .logo{height:60px;padding-left:10px;}
	.head-bar .logo img{padding-top:3px}
	.head-bar .operateicon span.icon{margin:15px 0;}
	.body-box{top:60px;}
	.left-bar{width:190px;}
	.left-bar span.icon{margin-left:0;}
	.user-info{margin:10px 0 10px 20px;}
	.top-nav-tabs{font-size:15px;}
	.top-nav-tabs li{width:16.666666666%;float:left;}
	.top-nav-tabs li a{height:50px;line-height:50px;}
	.top-nav-tabs .icon{padding-left:25px;background-size:23px;}
	.right-content{margin-left:190px;}
    .order-statistics-body li{width:33.33333%;}
    .order-statistics-body li .order-statistics-item{padding:20px;font-size:12px;}
    .order-statistics-body li .item-top{padding-bottom:20px;}
}
@media only screen and (min-width:700px) and (max-width:900px) {
	.loginpage{height:100%;}
	.loginpage .w1200{width:100%;}
	.loginpage .header{display:none;}
	.loginpage .bannerslide{display:none;}
	.loginpage .banner{height:100%;}
	.loginpage .banner .weizhi{position:relative;margin:0;left:0;height:100%;}
	.loginpage .banner .loginbox{padding:0;left:50%;right:auto;margin-left:-140px;}
	.loginpage .xiaoNo{display:none;}
	.loginpage .footer{display:none;}

    .order-statistics-body li{width:50%;}
    .order-statistics-body li .order-statistics-item{padding:20px;font-size:12px;}
    .order-statistics-body li .item-top{padding-bottom:20px;}
    .left-bar{left:-250px;z-index:100;}
    .right-content {margin-left: 0;overflow:auto;-webkit-overflow-scrolling: touch}
    .rightbarcontent{display:none;}
    .head-bar{height:50px;}
    .head-bar .logo{display:none;}
    .head-bar .m-logo{display:inline-block;}
    .head-bar .personaloperate{display:none;}
    .body-box{top:50px;}
    .top-nav-tabs li{width:33.33333%;}
    .top-nav-tabs li a{font-size:14px;line-height:30px;height:30px;}
    .top-nav-tabs .icon{background-size:16px;padding-left:14px;}
    .c-center-warp{padding:10px;}
    .breadcrumb{margin-top:0;}
}
@media only screen and (max-width:700px){
	.rechange-panner .panner-head a.lps{width:110px;}
	.rechange-panner .panner-head span.near-order-link{display:none;}
	.rechange-panner .lines .p-left-title{width:90px;padding-left:20px;}
	.order-statistics-body li{width:100%;}
	.order-statistics-body li .order-statistics-item{padding:20px;font-size:12px;}
    .order-statistics-body li .item-top{padding-bottom:20px;}
    .left-bar{left:-250px;z-index:100;}
    .right-content {margin-left: 0;overflow:auto;-webkit-overflow-scrolling: touch}
    .rightbarcontent{display:none;}
    .head-bar{height:50px;}
    .head-bar .logo{display:none;}
    .head-bar .m-logo{display:inline-block;}
    .head-bar .personaloperate{display:none;}
    .body-box{top:50px;}
    .top-nav-tabs li{width:33.33333%;}
    .top-nav-tabs li a{font-size:14px;line-height:30px;height:30px;}
    .top-nav-tabs .icon{background-size:16px;padding-left:14px;}
    .c-center-warp{padding:10px;}
    .breadcrumb{margin-top:0;}

    .el-date-editor--datetimerange.el-input{width:100%;}
}
.el-notification{right:16px;}
.tableDetial-content{background:#fff;box-shadow:0px 0 15px rgba(0,0,0,0.08);padding:50px;}
.setting-content{background:#fff;box-shadow:0px 0 15px rgba(0,0,0,0.08);}
.demo-color-box{border-radius:4px;padding:20px;box-sizing:border-box;color:#fff;font-size:14px}
.demo-color-box .value{font-size:12px;opacity:.69;line-height:24px}
.demo-color-box-group .demo-color-box{border-radius:0}
.demo-color-box-group .demo-color-box:first-child{border-radius:4px 4px 0 0}
.demo-color-box-group .demo-color-box:last-child{border-radius:0 0 4px 4px}.bg-blue-light{background-color:#58b7ff}
.bg-blue,.bg-info{background-color:#20a0ff}
.bg-blue-dark{background-color:#1d8ce0}
.bg-success{background-color:#13ce66}
.bg-warning{background-color:#f7ba2a}
.bg-danger{background-color:#ff4949}
.bg-black{background-color:#1f2d3d}
.bg-black-light{background-color:#324057}
.bg-black-lighter{background-color:#475669}
.bg-silver{background-color:#8492a6}
.bg-silver-light{background-color:#99a9bf}
.bg-silver-lighter{background-color:#c0ccda}
.bg-gray{background-color:#d3dce6}
.bg-gray-light{background-color:#e5e9f2}
.bg-gray-lighter{background-color:#eff2f7}
.bg-white-dark{background-color:#f9fafc}
.color-gray{color:#5e6d82}
.el-card{border:none;box-shadow:none;}


.voucher-consume{background:#fff;box-shadow:0px 0 15px rgba(0,0,0,0.08);}
.btn-red{
	cursor: pointer;
	background:#cc0000;
	color:#fff;
}
.btn-blur{
	cursor: pointer;
	background: #4f7ecf;
	color: #fff;
}
.voucher-consume{
	padding:30px;
}
.vc-line{
	margin-top: 30px;
	position: relative;
}
.vc-line label{
	padding-left: 10px;
	line-height:40px;
	font-size: 16px;
	color: #555;
	position: absolute;
	left:0;
	top:0;
}
.r-vc-panrl{
	margin-left:120px;
}
.vc-input{
	border-radius: 5px;
	overflow: hidden;
	height:40px;
	border:1px solid #ddd;
	display:inline-block;
}
.vc-input input{
	padding: 11px;
	padding:11px 13px 0;
	border: none;
	font-size: 16px;
	outline: none;
}
.ml-list{
	width:500px;
	margin-bottom:-20px;
}
.ml-list .ml-list{
	height: 32px;
	line-height: 32px;
	border: 1px solid #da231b;
	display: inline-block;
	color:#da231b;
	width:80px;
	text-align: center;
	margin-right:18px;
	margin-bottom: 20px;
	float: left;
	border-radius:6px;
	cursor: pointer;
}
.ml-list .on{
	background:#da231b;
	color: #fff;
}
.date-input-block .vc-input{
	position: relative;
	float:left;
}
.date-input-block .vc-time-fuhao{
	float: left;
	width:30px;
	text-align: center;
	line-height: 37px;
}
.date-input-block .vc-input i{
	position: absolute;
	height:40px;
	top:0;
	right:0;
	width: 40px;
	background:url(../images/icon-timer.png) no-repeat center;
	background-size:18px;
}
.btn-block a{
	float:left;
	margin-right:20px;
	height:48px;
	width:148px;
	line-height:48px;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
}
.btn-block .vc-f-btn{
	border:1px solid #da231b;
	background:#da231b;
	color: #fff;
}
.btn-block .vc-b-btn{
	border:1px solid #da231b;
	color: #da231b;
}
.vc-select{
	position: relative;
	border-radius: 5px;
	height:40px;
	border:1px solid #ddd;
	display:inline-block;
}
.vc-select input{
	border-radius: 10px;
	padding: 11px;
	padding:11px 13px 0;
	border: none;
	font-size: 16px;
	outline: none;
}
.vc-select i{
	position: absolute;
	height:40px;
	top:0;
	right:0;
	width: 40px;
	border-left:1px solid #ddd;
	background:url(../images/icon-down.png) no-repeat center;
}
.vc-select ul{
	display:none;
	margin-left: -1px;
	z-index: 10;
	border: 1px solid #ddd;
	box-shadow: 0 0 0 rgba(0,0,0,.5);
	top:39px;
	background: #fff;
	width: 100%;
	position: absolute;
}
.vc-select ul li{
	height: 40px;
	line-height: 40px;
	padding-left:15px;
	cursor: pointer;
}
.vc-select ul li:hover{
	background: #efefef;
}
.vc-hd-options{
	background: #fbfbfb;
	border:1px solid #ddd;
	padding-left:30px;
	padding-top:20px;
	padding-right:10px;
	padding-bottom:10px;
	margin-bottom: 20px;
}
.vc-hd-options .vc-button{
	float: left;
	margin-right: 20px;
	width: 75px;
	height: 30px;
	border-radius:5px;
	text-align: center;
	line-height: 30px;
	margin-bottom:10px;
}
.input-l-block{
	height: 30px;
	margin-right: 20px;
	float: left;
	margin-bottom:10px;
}
.input-l-block label{
	width: 70px;
	line-height: 30px;
	float: left;
}
.input-l-block input{
	padding:0 10px;
	float: left;
	height:28px;
	outline: 30px;
	border: 1px solid #ddd;
}
.input-l-block select{
	padding:0 10px;
	float: left;
	height:30px;
	width:191px;
	outline: 30px;
	border: 1px solid #ddd;
}
.input-l-block .date-input{
	padding-left: 10px;
	line-height: 28px;
	float: left;
	width: 179px;
	height: 28px;
	border: 1px solid #ddd;
	position:relative;
}
.input-l-block .date-input::after{
	background: url(../images/icon-timer.png) no-repeat center #fff;
	background-size:15px;
	width: 30px;
	height:28px;
	content: '';
	top:0;
	right: 0;
	position: absolute;
}
.input-l-block .vc-time-fuhao{
	float: left;
	width: 40px;
	text-align: center;
	line-height:28px;
}
.vc-bd-table table{
	text-align: center;
	background:#fff;
	border:1px solid #ddd;
	line-height:16px;
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	font-family:"微软雅黑"
}
.vc-bd-table table td{
	border:1px solid #ddd;
}
.vc-bd-table table thead td{
	height:40px;
	background: #fbfbfb;
}
.vc-bd-table table tbody td{
	padding:10px;
}
.vc-bd-table table tfoot td{
	padding:10px 20px;
}
.vc-bd-table table tfoot .vc-button{
	height: 30px;
	width:70px;
	text-align: center;
	display: inline-block;
	float: left;
	margin-right:15px;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
}
.vc-switch{
	cursor: pointer;
	display:inline-block;
	width:64px;
	background: url(../images/icon-s-nqiyong.png) no-repeat center;
	height:27px;
}
.vc-switch.on{
	background-image: url(../images/icon-s-qiyong.png);
}
.vc-checkbox{
	cursor: pointer;
	display:inline-block;
	width:20px;
	background: url(../images/icon-g-noxuan.png) no-repeat center;
	height:20px;
}
.vc-checkbox.on{
	background-image: url(../images/icon-g-gouxuan.png);
}
