body,html{height:100%;overflow:hidden;padding:0;margin:0;background:#f7f7f7;font-family:"microsoft yahei",Arial,SimHei,"Sans Serif";color:#666;font-size:16px}
input{-webkit-tap-highlight-color:rgba(0,0,0,0);}
li,ul{padding:0;margin:0;list-style: none;}
.list-content{height:100%;font-size:.875rem;overflow:hidden;}
.list-top{position:relative;}
.list-top::after{content:'';bottom:0;position:absolute;left:0;background:#e5e5e5;width:100%;height:1px;-webkit-transform:scaleY(.5);}
.list-bar-img{position:relative;}
.list-bar-img img{display:block;width:100%;overflow:hidden;}
.list-bar-img::after{content: ''; position:absolute;left:0;background: #e5e5e5; width: 100%;height: 1px;-webkit-transform: scaleY(.5);-webkit-transform-origin: 100% 100%;transform-origin: 100% 100%;}
.list-taps .zz-taps{width:100%;height:52px;position:relative;background:#fff;}
.list-taps .zz-taps li{width:50%;float:left;text-align:center;font-size:18px;position:relative;z-index:2;height:50px;-webkit-transform-origin: 100% 100%;transform-origin: 100% 100%;}
.list-taps .zz-taps li span{line-height:50px;height:50px;display:block;}
.list-taps .zz-taps li.on span{border-bottom:3px solid #e94b3a;}
.list-bar-nav{position:relative;}
.list-bar-nav:before{content: ''; position: absolute;left:0;bottom:0;background: #e5e5e5; width: 100%;height: 1px;-webkit-transform: scaleY(.5)}
.list-input-row{position:relative;}
.list-taps .zz-taps:before{content: ''; position: absolute;left:0;bottom:0;background: #e5e5e5; width: 100%;height: 1px;-webkit-transform: scaleY(.5)}
.list-search-input{border:none;outline:none;height:50px;width:100%;text-align:center;box-sizing:border-box;padding:0 20px;font-size:14px;border-radius:0;-webkit-appearance:none;}
.list-search-input:focus{text-align:left;padding:0 30px 0 20px;}
.list-search-input::-webkit-clear{color:red;background:black;padding:1em;}
.list-indexed{position:relative;overflow:hidden;background-color:#fff;height:100%;cursor:default}
.list-indexed-inner{margin:0;padding:0;overflow-y:auto;border:none;position:relative;background:#f7f7f7;-webkit-overflow-scrolling:touch;}
.list-indexed-inner::-webkit-scrollbar{width:0;height:0;visibility:hidden}
.list-empty-alert{padding:30px 15px;text-align:center;color:#ccc;display:none;}
.list-loading{height:50px;background:url(../images/loading.gif) no-repeat center;background-size:20px;display:none;}
.list-indexed-inner.empty .list-table-view{display:none}
.list-indexed-inner.empty .list-hot-box{display:none}
.list-indexed-inner.empty .list-empty-alert{display:block}
.list-indexed-inner.loading .list-table-view{display:none}
.list-indexed-inner.loading .list-empty-alert{display:none}
.list-indexed-inner.loading .list-loading{display:block}
.list-indexed-inner.loading .list-hot-box{display:none}
.list-hot-box{background:#fff;clear:both;padding:10px 20px;}
.list-hot-box h2{color:red;font-size:15px;font-weight:normal;margin:5px 0 5px 0;}
.list-hot-box a{display:inline-block;width:25%;line-height:30px;}
.list-indexed-group{padding-right:45px}
.list-indexed-item{padding-right:45px;padding-left:20px;font-size:.875rem;line-height:40px;background:#fff;position:relative;transition:100ms;}
.list-indexed-item:active{background:#efefef;}
.list-indexed-group{line-height:30px}
.list-indexed-group{background-color:#f7f7f7;padding-left:10px;}
.list-indexed-bar{width:50px;position:absolute;z-index:100;right:0;top:50%;margin-top:-260px;}
.list-indexed-bar a{display:block;text-align:center;font-size:10px;padding:0;margin-left:28px;line-height:20px;width:20px;height:20px;color:#333;}
.list-indexed-bar a.on{background:rgba(0,0,0,.3);color:#fff;border-radius:10px;}
.list-indexed-alert{position:absolute;z-index:20;background-color:rgba(0,0,0,.5);width:80px;height:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;border-radius:40px;text-align:center;line-height:80px;font-size:35px;color:#fff;display:none;-webkit-transition:.2s}
.list-indexed-alert.on{display:block;}
