<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimal-ui">
    <title>个人简历</title>
    <link rel="stylesheet" href="../css/resume.css">
    <link rel="stylesheet" href="../css/theme.css">
</head>
<body> 
    <div id="app" style="height:100%">
        <transition name="fade"><router-view></router-view></transition>
    </div>
    <template id="profile">
        <div class="full-layout">
            <div class="panel-left">
                <div class="profile-card-t">
                    <div class="profile-card-photo">
                        <img src="https://avatars2.githubusercontent.com/u/9925435?v=4&s=400&u=0a2b1bbb9e804619070e9f020f34db30f63d7902">
                    </div>
                    <div class="profile-card-text">
                        <p class="bt">吴长新</p>
                        <p>web前端工程师</p>
                    </div>
                </div>
                <div class="contact-details">
                    <div class="detail">
                        <span class="icon"><i class="icon fs-lg icon-profile"></i></span>
                        <span class="info">男 26岁 4年工作经验</span>
                    </div>
                    <div class="detail">
                        <span class="icon"><i class="icon fs-lg icon-location"></i></span>
                        <span class="info">武汉市江汉区</span>
                    </div>
                    <div class="detail">
                        <span class="icon"><i class="icon fs-lg icon-phone"></i></span>
                        <span class="info">18521708248</span>
                    </div>
                    <div class="detail">
                        <span class="icon"><i class="icon fs-lg icon-mail"></i></span>
                        <span class="info"><a class="link-disguise" href="mailto:724355924@qq.com">724355924@qq.com</a></span>
                    </div>
                    <div class="detail">
                        <span class="icon"><i class="icon fs-lg icon-link"></i></span>
                        <span class="info"><a href="https://github.com/wcx14311" target="_blank">https://github.com/wcx14311</a></span>
                    </div>
                </div>
            </div>
            <div class="panel-right">
                <!-- 自我描述 -->
                <div class="card background-card">
                    <div class="icon">
                        <i class="fs-lg icon-board"></i><span class="mobile-title">自我描述</span>
                    </div>
                    <ul class="info content mop-wrapper">
                        <li>个人主攻 web 前端和 nodejs 开发，4年+前端开发经验。</li>
                        <li>喜欢关注 web 前端相关新技术，对于新技术有很强的学习兴趣。</li>
                        <li>喜欢折腾造轮子，不定时更新 github 小项目。</li>
                        <li>热爱前端这份工作，也热爱一切美好的事物，对于我来说，是一种责任、是一种快乐。</li>
                    </ul>
                </div>
                <!-- 教育经历 -->
                <div class="card background-card">
                    <div class="icon">
                        <i class="fs-lg icon-graduation-cap"></i><span class="mobile-title">教育经历</span>
                    </div>
                    <p class="info content">景德镇学院 —— 数学与信息工程系 —— 数字多媒体专业</p>
                </div>
                <!-- 工作经历 -->
                <div class="card background-card">
                    <div class="icon">
                        <i class="fs-lg icon-office"></i><span class="mobile-title">工作经历</span>
                    </div>
                    <dl class="info content">
                        <dt class="header">
                            <p>武汉永乐云商 <span>web前端工程师</span></p>
                            <p class="text-muted">2015.12 - 至今</p>
                        </dt>
                        <dd>
                            <ul>
                                <li>根据UI设计稿编写静态页面</li>
                                <li>根据产品需求文档，进行 web 前端开发，前端主体框架选型，搭建基础框架</li>
                                <li>使用webpack、gulp、node管理维护前端代码</li>
                                <li>微信小程序，微信</li>
                                <li>使用vue.js全家桶，实施前后端分离，提升用户体验，和开发效率</li>
                                <li>负责配合后台开发人员，完成页面的交互及接口对接，数据渲染</li>
                                <li>负责前端技术的完善，以用户为中心，不断尝试前端新技术，提升团队水平</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="info content">
                        <dt class="header">
                            <p>武汉纺友技术有限公司<span>web前端工程师</span></p>
                            <p class="text-muted">2015.03 - 2015.12</p>
                        </dt>
                        <dd>
                            <ul>
                                <li>根据UI设计稿编写静态页面</li>
                                <li>使用gulp管理维护前端代码</li>
                                <li>jquery/zepto 数据处理、Ajax 交互开发、前端公共组件开发</li>
                                <li>负责配合后台开发人员，完成页面的交互及接口对接</li>
                                <li>根据需求封装通用js插件</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="info content">
                        <dt class="header">
                            <p>上海昕鼎网络科技有限公司<span>web前端工程师</span></p>
                            <p class="text-muted">2013.11 - 2015.02</p>
                        </dt>
                        <dd>
                            <ul>
                                <li>Photoshop对设计图进行切片</li>
                                <li>根据设计提供的设计稿编写静态页面</li>
                                <li>负责配合后台开发人员，完成页面的交互及接口对接</li>
                                <li>负责网站功能模块及后台管理系统的设计</li>
                                <li>HTML5 + CSS3 编写网站页面，并保证浏览器的兼容性</li>
                                <li>负责配合后台开发人员，完成页面的交互及接口对接</li>
                                <li>负责电脑端及移动端 web 项目的前端开发</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div class="card background-card">
                    <div class="icon">
                        <i class="fs-lg icon-child"></i><span class="mobile-title">项目经验</span>
                    </div>
                    <dl class="info content">
                        <dt class="header">
                            <p>永乐惠充app</p>
                            <p class="common-p">技术栈：cordova + jquery + gulp + less + nginx</p>
                        </dt>
                        <dd>
                            <ul>
                                <li>将app所有页面</li>
                                <li>独自mock数据实现页面交互、数据绑定、数据提交、文件上传、在线支付等功能</li>
                                <li>接入后端、测试联调</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="info content">
                        <dt class="header">
                            <p>永乐惠充微信小程序</p>
                        </dt>
                        <dd>
                            <ul>
                                <li>Photoshop对UI设计图进行切片，小程序界面实现</li>
                                <li>独自mock数据实现页面交互、数据绑定、数据提交、文件上传、在线支付等功能</li>
                                <li>接入后端、测试联调</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="info content">
                        <dt class="header">
                            <p>永乐生活微信站</p>
                            <p class="common-p">技术栈：微信JSSDK + jquery + jsp</p>
                        </dt>
                        <dd>
                            <ul>
                                <li>......</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="info content">
                        <dt class="header">
                            <p>永乐生活代理商前台</p>
                            <p class="common-p">技术栈：jquery + jsp</p>
                        </dt>
                        <dd>
                            <ul>
                                <li>......</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <!-- 技能标签 -->
                <div class="card background-card">
                    <div class="icon">
                        <i class="fs-lg icon-tools"></i><span class="mobile-title">技能标签</span>
                    </div>
                    <p class="content">
                        <span class="skill-targ">html</span>
                        <span class="skill-targ">css</span>
                        <span class="skill-targ">js</span>
                        <span class="skill-targ">jquery/zepto</span>
                        <span class="skill-targ">less/scss</span>
                        <span class="skill-targ">vue.js</span>
                        <span class="skill-targ">underscore.js</span>
                        <span class="skill-targ">webpack</span>
                        <span class="skill-targ">gulp</span>
                        <span class="skill-targ">mongoose</span>
                        <span class="skill-targ">node.js</span>
                        <span class="skill-targ">es6</span>
                        <span class="skill-targ">react</span>
                        <span class="skill-targ">react-native</span>
                    </p>
                </div>
            </div>
        </div>
    </template>
    <template id="index">
        <div class="about-body">
        <aside class="profile-card" @click="viewDetials">
            <header>
                <div class="profile-card-photo"><img src="https://avatars2.githubusercontent.com/u/9925435?v=4&s=400&u=0a2b1bbb9e804619070e9f020f34db30f63d7902"></div>
                <div class="profile-card-text">
                    <h1>{{user.name}}</h1>
                    <h2>{{user.location}} {{user.job}}</h2>
                </div>
            </header>
            <section class="card-body">
                <div v-for="info in baseInfo">
                    <div class="card-body-line">
                        <div class="l"><span class="icon"><img :src="info.icon"></span></div>
                        <div class="r"><span>{{info.text}}</span></div>
                    </div>
                </div>
                <div>
                    <div class="card-body-line">
                        <div class="l"></div><div class="r bi-title">个人简介</div>
                    </div>
                    <div class="card-body-line">
                        <div class="l"></div><div class="r"><span>{{profile}}</span></div>
                    </div>
                    <div class="card-body-line">
                        <div class="l"></div><div class="r bi-title">个人技能</div>
                    </div>
                    <div class="card-body-line">
                        <div class="l"></div><div class="r">
                            <span v-for="skill in skills" class="skill-targ">{{skill}}</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card-body-line">
                        <div class="l"></div><div class="r bi-title">工作经历</div>
                    </div>
                    <div class="card-body-line" v-for="item in experience">
                        <div class="l time">{{item.startDate}}</div><div class="r"><span>{{item.conpany}}</span></div>
                    </div>
                </div> 
                <div class="card-body-line"><div class="l"><br></div><div class="r"></div></div>
            </section>
        </aside>
    </div>  
    </template>
</body>
<script type="text/javascript" src="../js/vue.min.js"></script>
<script type="text/javascript" src="../js/vue-router.min.js"></script>
<script type="text/javascript" src="../js/vue-resource.min.js"></script>
<script type="text/javascript">
    "use strict";
    var resume = { 
        template: '#index',
        data: function () {
            return {
                user:{
                    name:'炖萝卜',
                    location:'武汉',
                    job:'挨踢民工'
                },
                baseInfo:[
                    {
                        icon:'../images/about/icon-email.png',
                        text:'176 7163 5808'
                    },{
                        icon:'../images/about/icon-phone.png',
                        text:'1055127249@qq.com'
                    },{
                        icon:'../images/about/icon-qq.png',
                        text:'https://github.com/wcx14311'
                    },{
                        icon:'../images/about/icon-net.png',
                        text:'武汉市江汉区新华小区'
                    }
                ],
                skills:['html','css','js','less/scss','vue.js','underscore.js','webpack','gulp','mongoose','node.js','es6','react','react-native'],
                profile:'毕业于景德镇学院数学与信息工程系，有4年的前端开发工作经验，喜欢关注 web 前端相关新技术，对于新技术有很强的学习兴趣。',
                experience:[
                    {startDate:'2015.12',endDate:'至今',conpany:'武汉永乐云商'},
                    {startDate:'2015.03',endDate:'2015.12',conpany:'武汉纺友技术有限公司'},
                    {startDate:'2013.11',endDate:'2015.02',conpany:'上海昕鼎网络科技有限公司'}
                ],
                project:[]
            }
        },
        methods:{
            viewDetials:function() {
                router.push('profile')
            }
        }
    };
    var profile = {
        template:'#profile',
        data:function(){
            return {}
        },
    }
    var routes = [
        { 
            path: '/', 
            component: resume,
            name:'简历卡片'
        },{ 
            path: '/profile', 
            component: profile,
            name:'简历明细'
        }
    ];

    var router = new VueRouter({
        routes
    });

    var app = new Vue({
        router:router
    }).$mount('#app');
</script>
</html>