<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimal-ui">
    <title>个人简历</title>
    <link rel="stylesheet" href="../css/resumePDF.css">
    <style type="text/css">
        .full-layout{
            max-width:1200px;
            margin: auto;
        }
        .full-layout .panel-left{
            color: #606163;
            background:transparent;
            border-right:10px solid #eee;
            background: #fff;
            box-sizing: border-box;
        }
    </style>
</head>
<body> 
    <div id="app" style="height:100%">
        <transition name="fade"><router-view></router-view></transition>
    </div>
    <template id="profile">
        <div class="full-layout width-1000">
            <div class="panel-left">
                <div class="profile-card-t">
                    <div class="profile-card-photo" @click="backCard">
                        <img src="https://avatars2.githubusercontent.com/u/9925435?v=4&s=400&u=0a2b1bbb9e804619070e9f020f34db30f63d7902">
                    </div>
                    <div class="profile-card-text">
                        <p class="bt">吴长新</p>
                        <p>前端工程师</p>
                    </div>
                </div>
                <div class="contact-details">
                    <div class="detail">
                        <span class="icon"><i class="icon fs-lg icon-profile"></i></span>
                        <span class="info">男 26岁 4年工作经验</span>
                    </div>
                    <div class="detail">
                        <span class="icon"><i class="icon fs-lg icon-location"></i></span>
                        <span class="info">武汉市江汉区</span>
                    </div>
                    <div class="detail">
                        <span class="icon"><i class="icon fs-lg icon-phone"></i></span>
                        <span class="info">176 7163 5808</span>
                    </div>
                    <div class="detail">
                        <span class="icon"><i class="icon fs-lg icon-mail"></i></span>
                        <span class="info"><a class="link-disguise" href="mailto:724355924@qq.com">724355924@qq.com</a></span>
                    </div>
                    <div class="detail">
                        <span class="icon"><i class="icon fs-lg icon-link"></i></span>
                        <span class="info"><a href="https://github.com/wcx14311" style="color:#ff475e" target="_blank">https://github.com/wcx14311</a></span>
                    </div>
                </div>
            </div>
            <div class="panel-right" id="panelRight">
                <!-- 自我描述 -->
                <div class="card background-card">
                    <div class="icon">
                        <i class="fs-lg icon-board"></i><span class="mobile-title">自我描述</span>
                    </div>
                    <ul class="info content mop-wrapper">
                        <li>个人主攻 web 前端开发，4年+前端开发经验</li>
                        <li>熟练使用html，css/css3，JavaScript，DOM/BOM。还有photoshop，chrome控制台，vconsole</li>
                        <li>熟悉ES6，熟练node.js+mongoDB入门级，了解前端生态中各种工具与框架</li>
                        <li>熟练掌握Vue+webpack开发模式，掌握vue.js周边前端技术栈及各大ui组件库</li>
                        <li>能够使用react.js开发入门项目，短时间内可以融入react团队</li>
                        <li>了解并掌握cordova混合开发，以及直接使用纯前端技术、webview、官方插件开发webapp</li>
                        <li>可自己配置基于gulp、webpack高效可控的，前端构建工具，实现开发流程自动化和工程化。方便团队协作开发</li>
                        <li>喜欢关注web前端相关新技术，不断尝试前端新技术，对于新技术有很强的学习兴趣。喜欢折腾造轮子，不定时更新github小项目。</li>
                        <li>熟练使用git、svn、shell工具</li>
                        <li>热爱前端这份工作，也热爱一切美好的事物，对于我来说，是一种责任、是一种快乐。</li>
                    </ul>
                </div>
                <!-- 教育经历 -->
                <div class="card background-card">
                    <div class="icon">
                        <i class="fs-lg icon-graduation-cap"></i><span class="mobile-title">教育经历</span>
                    </div>
                    <p class="info content">景德镇学院 —— 数学与信息工程系 —— 数字多媒体专业</p>
                </div>
                <!-- 技能标签 -->
                <div class="card background-card">
                    <div class="icon">
                        <i class="fs-lg icon-tools"></i><span class="mobile-title">技能标签</span>
                    </div>
                    <p class="content">
                        <span class="skill-targ">html</span>
                        <span class="skill-targ">css</span>
                        <span class="skill-targ">js</span>
                        <span class="skill-targ">jquery/zepto</span>
                        <span class="skill-targ">less/scss</span>
                        <span class="skill-targ">vue.js</span>
                        <span class="skill-targ">underscore.js</span>
                        <span class="skill-targ">webpack</span>
                        <span class="skill-targ">gulp</span>
                        <span class="skill-targ">mongodb</span>
                        <span class="skill-targ">node.js</span>
                        <span class="skill-targ">es6</span>
                        <span class="skill-targ">react</span>
                        <span class="skill-targ">react-native</span>
                    </p>
                </div>
                <!-- 工作经历 -->
                <div class="card background-card">
                    <div class="icon">
                        <i class="fs-lg icon-office"></i><span class="mobile-title">工作经历</span>
                    </div>
                    <dl class="info content">
                        <dt class="header">
                            <p>武汉永乐云商 <span>前端工程师</span></p>
                            <p class="text-muted">2015.12 - 至今</p>
                        </dt>
                        <dd>
                            <ul>
                                <li>根据UI设计稿编写静态页面</li>
                                <li>根据产品需求文档，进行 web 前端开发，前端主体框架选型，搭建基础框架</li>
                                <li>使用node,gulp,webpack搭建自动化的前端的开发环境</li>
                                <li>微信小程序开发，使用微信jssdk开发微信内嵌网页</li>
                                <li>使用vue.js全家桶，对接后端restful api，浏览器端渲染页面，实施前后端分离，提升用户体验，和开发效率</li>
                                <li>负责配合后台开发人员，完成页面的交互及接口对接，数据渲染</li>
                                <li>负责前端技术的完善，为提高用户体验，不断尝试前端新技术，提升团队水平</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="info content">
                        <dt class="header">
                            <p>武汉纺友技术有限公司<span>前端工程师</span></p>
                            <p class="text-muted">2015.03 - 2015.12</p>
                        </dt>
                        <dd>
                            <ul>
                                <li>根据UI设计稿编写静态页面</li>
                                <li>使用gulp管理维护前端代码</li>
                                <li>jquery/zepto 数据处理、Ajax交互开发、前端公共组件开发</li>
                                <li>负责配合后台开发人员，完成页面的交互及接口对接</li>
                                <li>根据需求封装通用js插件</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="info content">
                        <dt class="header">
                            <p>上海昕鼎网络科技有限公司<span>前端工程师</span></p>
                            <p class="text-muted">2013.11 - 2015.02</p>
                        </dt>
                        <dd>
                            <ul>
                                <li>Photoshop对设计图进行切片</li>
                                <li>根据设计提供的设计稿编写静态页面</li>
                                <li>负责配合后台开发人员，完成页面的交互及接口对接</li>
                                <li>负责网站功能模块及后台管理系统的设计</li>
                                <li>HTML5 + CSS3 编写网站页面，并保证浏览器的兼容性</li>
                                <li>负责配合后台开发人员，完成页面的交互及接口对接</li>
                                <li>负责电脑端及移动端 web 项目的前端开发</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div class="card background-card">
                    <div class="icon">
                        <i class="fs-lg icon-child"></i><span class="mobile-title">项目经验</span>
                    </div>
                    <dl class="info content">
                        <dt class="header">
                            <p>永乐惠充app</p>
                            <p class="common-p">技术：cordova + jquery + gulp + webpack + less + nginx + shell + https</p>
                        </dt>
                        <dd>
                            <ul>
                                <li>将app所有页面换成纯静态html页面交互</li>
                                <li>使用gulp，webpack配置自动化的开发环境</li>
                                <li>实现开发环境，实现监听文件变动，自动刷客户端页面 (LiveReload)</li>
                                <li>测试ios\Android开发的cordova原生功能插件，将这些插件封装成便于使用js函数</li>
                                <li>本地mock数据实现页面交互、数据绑定、数据提交、文件上传、在线支付等功能</li>
                                <li>接入后端restful api,放到测试环境、测试联调</li>
                                <li>部署生产环境 css,js合并压缩 去缓存文件 Reversion (MD5) 解决方案</li>
                                <li>生产环境，使用nginx代码部署在阿里云上，反向代理后端api</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="info content">
                        <dt class="header">
                            <p>永乐业务管理平台</p>
                            <p class="common-p">技术：vue全家桶 + es6 + lodash + nginx + shell + https</p>
                        </dt>
                        <dd>
                            <ul>
                                <li>使用vue，elementUI开发 后台管理系统单页面应用</li>
                                <li>开发vue通用公共UI组件，控制代码冗余</li>
                                <li>本地配反向代理后端restful api，前后端同步开发</li>
                                <li>根据角色权限不同渲染组件功能按钮显示</li>
                                <li>实现系统各项数据增删改查功能</li>
                                <li>测试联调部署上线</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="info content">
                        <dt class="header">
                            <p>永乐惠充微信小程序，超伙物流动态小程序</p>
                            <p class="common-p">技术：微信小程序api + 微信开发者工具</p>
                        </dt>
                        <dd>
                            <ul>
                                <li>Photoshop对UI设计图进行切片，根据产品需求完成小程序界面交互实现</li>
                                <li>独自mock数据实现模拟登录、数据绑定、数据提交、文件上传、在线支付等功能</li>
                                <li>接入后端restful api、测试联调</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="info content">
                        <dt class="header">
                            <p>永乐融通支付产品</p>
                            <p class="common-p">技术：bootstrap + jquery + ngiax + gulp</p>
                        </dt>
                        <dd>
                            <ul>
                                <li>jquery版前后端分离项目，前端所有数据功都使用ajax获取</li>
                                <li>封装通用jquery插件</li>
                                <li>反向代理，登录获取token，session storage缓存token，方便页面之间共享</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="info content">
                        <dt class="header">
                            <p>怡乐购ios客户端</p>
                            <p class="common-p">技术：framework7 + Hbuilder +<a href="http://www.html5plus.org/doc/zh_cn/accelerometer.html"> html5+</a></p>
                        </dt>
                        <dd>
                            <ul>
                                <li>根据产品UI设计图 使用DOM7实现单页面交互</li>
                                <li>本地mock数据实现商品数据渲染、展示、排序、及订单数据提交</li>
                                <li>使用session storge缓存token</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="info content">
                        <dt class="header">
                            <p>怡乐购pc端 —— b2b平台</p>
                            <p class="common-p">技术：jquery + jsp + tomcat</p>
                        </dt>
                        <dd>
                            <ul>
                                <li>根据产品UI设计图 切图</li>
                                <li>接入restful接口的jsp页面上用js填充数据</li>
                                <li></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="info content">
                        <dt class="header">
                            <p>永乐生活微信站</p>
                            <p class="common-p">技术：微信JSSDK + jquery + jsp + svn + shell + ftp</p>
                        </dt>
                        <dd>
                            <ul>
                                <li>根据产品UI设计图 切图</li>
                                <li>接入restful接口的页面js业务完成好</li>
                                <li>使用微信JSSDK调用微信支付，图片拍照，上传功能</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="info content">
                        <dt class="header">
                            <p>永乐生活代理商前台 + 永乐生活代后台管理系统</p>
                            <p class="common-p">技术：jquery + easyUI + jsp + shell + ftp + svn</p>
                        </dt>
                        <dd>
                            <ul>
                                <li>公司代理商平台，后端管理平台前端代码日常维护</li>
                                <li>长期的新功能迭代升级</li>
                                <li>平台各种活动页面</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="info content">
                        <dt class="header">
                            <p><a href="http://www.ahkaogu.com/">安徽考古研究所</a></p>
                            <p class="common-p">技术：jquery + html + css + flash</p>
                        </dt>
                        <dd>
                            <ul>
                                <li>公司代理商平台，后端管理平台前端代码日常维护</li>
                                <li>长期的新功能迭代升级</li>
                                <li>平台各种活动页面</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="info content">
                        <dt class="header">
                            <p>node.js + MongoDB博客个人平台</p>
                            <p class="common-p">技术：node.js + MongoDB + jade模板引擎 + RoboMongo</p>
                        </dt>
                        <dd>
                            <ul>
                                <li>数据爬虫,后台登录及文章管理</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </template>
    <template id="index">
        <div class="about-body">
        <aside class="profile-card" @click="viewDetials">
            <header>
                <div class="profile-card-photo"><img src="https://avatars2.githubusercontent.com/u/9925435?v=4&s=400&u=0a2b1bbb9e804619070e9f020f34db30f63d7902"></div>
                <div class="profile-card-text">
                    <h1>{{user.name}}</h1>
                    <h2>{{user.location}} {{user.job}}</h2>
                </div>
            </header>
            <section class="card-body">
                <div v-for="info in baseInfo">
                    <div class="card-body-line">
                        <div class="l"><span class="icon"><img :src="info.icon"></span></div>
                        <div class="r"><span>{{info.text}}</span></div>
                    </div>
                </div>
                <div>
                    <div class="card-body-line">
                        <div class="l"></div><div class="r bi-title">个人简介</div>
                    </div>
                    <div class="card-body-line">
                        <div class="l"></div><div class="r"><span>{{profile}}</span></div>
                    </div>
                    <div class="card-body-line">
                        <div class="l"></div><div class="r bi-title">个人技能</div>
                    </div>
                    <div class="card-body-line">
                        <div class="l"></div><div class="r">
                            <span v-for="skill in skills" class="skill-targ">{{skill}}</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card-body-line">
                        <div class="l"></div><div class="r bi-title">工作经历</div>
                    </div>
                    <div class="card-body-line" v-for="item in experience">
                        <div class="l time">{{item.startDate}}</div><div class="r"><span>{{item.conpany}}</span></div>
                    </div>
                </div> 
                <div>
                    <div class="card-body-line">
                        <div class="l"></div><div class="r bi-title">项目经验</div>
                    </div>
                    <div class="card-body-line" v-for="item in project">
                        <div class="l time">  →</div><div class="r"><span>{{item.proName}}</span></div>
                    </div>
                </div> 
                <div class="card-body-line"><div class="l"><br></div><div class="r"></div></div>
            </section>
        </aside>
    </div>  
    </template>
</body>
<script type="text/javascript" src="../js/vue.min.js"></script>
<script type="text/javascript" src="../js/vue-router.min.js"></script>
<script type="text/javascript" src="../js/vue-resource.min.js"></script>
<!-- <script type="text/javascript" src="../js/jspdf.min.js"></script>
<script type="text/javascript" src="../js/html2canvas.js"></script> -->
<script type="text/javascript">
    "use strict";
    var resume = { 
        template: '#index',
        data: function () {
            return {
                user:{
                    name:'炖萝卜',
                    location:'武汉',
                    job:'前端工程师'
                },
                baseInfo:[
                    {
                        icon:'../images/about/icon-email.png',
                        text:'176 7163 5808'
                    },{
                        icon:'../images/about/icon-phone.png',
                        text:'1055127249@qq.com'
                    },{
                        icon:'../images/about/icon-qq.png',
                        text:'https://github.com/wcx14311'
                    },{
                        icon:'../images/about/icon-net.png',
                        text:'武汉市江汉区新华小区'
                    }
                ],
                skills:['html','css','js','less/scss','vue.js','underscore.js','webpack','gulp','mongoose','node.js','es6','react','react-native'],
                profile:'毕业于景德镇学院数学与信息工程系，有4年的前端开发工作经验，喜欢关注 web 前端相关新技术，对于新技术有很强的学习兴趣。',
                experience:[
                    {startDate:'2015.12',endDate:'至今',conpany:'武汉永乐云商'},
                    {startDate:'2015.03',endDate:'2015.12',conpany:'武汉纺友技术有限公司'},
                    {startDate:'2013.11',endDate:'2015.02',conpany:'上海昕鼎网络科技有限公司'}
                ],
                project:[
                    {proName:'永乐惠充app'},
                    {proName:'永乐收钱宝'},
                    {proName:'永乐生活微信站'},
                    {proName:'永乐惠充微信站'},
                    {proName:'永乐惠充微信小程序'},
                    {proName:'怡乐购pc端'},
                    {proName:'怡乐购微信端'},
                    {proName:'山西长城宽带微信商城'},
                    {proName:'怡乐购app'}
                ]
            }
        },
        methods:{
            viewDetials:function() {
                router.push('/profile')
            }
        }
    };
    var profile = {
        template:'#profile',
        data:function(){
            return {}
        },
        methods:{
            backCard:function(){
                router.push('/')
            },
            renderHTMLtoPDF:function(){
                html2canvas(document.getElementById('panelRight'),{
                    onrendered: function(canvas){                
                        var contentWidth = canvas.width;                
                        var contentHeight = canvas.height;              
                        var pageHeight = contentWidth / 592.28 * 841.89;
                        var leftHeight = contentHeight;
                        var position = 0 ;               
                        var imgWidth = 595.28   ;             
                        var imgHeight = 592.28 / contentWidth * contentHeight;                
                        var pageData = canvas.toDataURL('image/jpeg', 1.0);                
                        var pdf = new jsPDF('', 'pt', 'a4') ;               
                        if (leftHeight < pageHeight) {                    
                            pdf.addImage(pageData, 'JPEG', 0, 0, imgWidth, imgHeight)                
                        } else {                    
                            while (leftHeight > 0) {                        
                                pdf.addImage(pageData, 'JPEG', 0, position, imgWidth, imgHeight)
                                leftHeight -= pageHeight;
                                position -= 841.89;                       
                                if (leftHeight > 0) {
                                    pdf.addPage()                        
                                }                    
                            }                
                        }                
                        pdf.save('吴长新-web前端.pdf')            
                    }     
                })   
            }
        }
    }
    var routes = [
        { 
            path: '/', 
            component: profile,
            name:'简历卡片'
        },{ 
            path: '/profile', 
            component: profile,
            name:'简历明细'
        }
    ];

    var router = new VueRouter({
        routes
    });

    var app = new Vue({
        router:router
    }).$mount('#app');
</script>
</html>